.App {
  text-align: center;
  font-family: "SUSE", sans-serif;
}
.App .container {
  background-color: rgb(255, 250, 245);
  border: 2px solid rgb(209, 160, 199);
  border-radius: 8px;
  margin: 25px auto;
  padding: 15px;
  max-width: 50%;
}
.App h1 {
  font-size: 35px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 35px;
}
/* X-small screen */
@media (width < 576px) {
  .App h1 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 25px;
  }
  .App .container {
    padding: 10px;
    max-width: 80%;
  }
  .Search .SearchInput {
    font-size: 12px;
    padding: 3px;
    width: 55%;
    margin: 0 2px;
  }
  .Search input::placeholder {
    font-size: 12px;
  }
  .Search .SearchButton {
    font-size: 12px;
    width: 30%;
    padding: 3px 6px;
  }
  .Search div.SuggestedWords {
    font-size: 10px;
  }
  .Search .homeImage img {
    height: 130px;
    width: 80px;
    margin: 50px auto;
  }
  /* Search Results */
  .SearchResults section {
    margin: 5px;
    padding: 0.5%;
  }
  .SearchResults .SearchedWord {
    font-size: 18px;
  }
  div.Phonetics {
    font-size: 16px;
  }
  /* Meanings */
  .Meanings .PartOfSpeech,
  .Meanings .Definition,
  .Meanings .Synonyms,
  .Meanings p.ExampleSentence {
    font-size: 14px;
  }
  /* Images */
  .ImageGrid {
    padding: 1% 3%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px 10px;
    margin: 5px 5px 25px 5px;
  }
  /* Footer */
  footer {
    font-size: 10px;
    margin: 40px 8px 25px 8px;
  }
}
/* Small screen */
@media (576px <= width < 768px) {
  .App h1 {
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 25px;
  }
  .App .container {
    padding: 10px;
    max-width: 90%;
  }
  .Search .SearchInput {
    padding: 2px;
    width: 550;
    margin: 3px 8px;
  }
  .Search input::placeholder {
    font-size: 15px;
  }
  .Search .SearchButton {
    font-size: 18px;
    width: 30%;
    padding: 4px 6px;
  }
  .Search div.SuggestedWords {
    font-size: 12px;
  }
  /* Search Results */
  .SearchResults section {
    margin: 5px;
    padding: 0.5%;
  }
  .SearchResults .SearchedWord {
    font-size: 30px;
  }
  div.Phonetics {
    font-size: 25px;
  }
  /* Meanings */
  .Meanings .PartOfSpeech,
  .Meanings .Definition,
  .Meanings .Synonyms,
  .Meanings p.ExampleSentence {
    font-size: 16px;
  }
  /* Images */
  .ImageGrid {
    padding: 1% 3%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px 10px;
    margin: 5px 5px 25px 5px;
  }
  /* Footer */
  footer {
    font-size: 15px;
    margin: 40px 8px 25px 8px;
  }
}
/* Medium screen */
@media (768px <= width < 992px) {
  .App h1 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 25px;
  }
  .App .container {
    padding: 10px;
    max-width: 80%;
  }
  .Search .SearchInput {
    font-size: 16px;
    padding: 4px;
    width: 45%;
    margin: 0 5px;
  }
  .Search input::placeholder {
    font-size: 12px;
  }
  .Search .SearchButton {
    font-size: 16px;
    width: 20%;
    padding: 4px 10px;
  }
  .Search div.SuggestedWords {
    font-size: 12px;
  }
  /* Search Results */
  .SearchResults section {
    margin: 5px;
    padding: 0.5%;
  }
  .SearchResults .SearchedWord {
    font-size: 25px;
  }
  div.Phonetics {
    font-size: 20px;
  }
  /* Meanings */
  .Meanings .PartOfSpeech,
  .Meanings .Definition,
  .Meanings .Synonyms,
  .Meanings p.ExampleSentence {
    font-size: 16px;
  }
  /* Images */
  .ImageGrid {
    padding: 1% 3%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px 10px;
    margin: 5px 5px 25px 5px;
  }
  /* Footer */
  footer {
    font-size: 12px;
    margin: 40px 8px;
  }
}
/* Large screen */
@media (992px <= width < 1200px) {
  .App h1 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 25px;
  }
  .App .container {
    padding: 10px;
    max-width: 80%;
  }
  .Search .SearchInput {
    font-size: 16px;
    padding: 4px;
    width: 45%;
    margin: 0 5px;
  }
  .Search input::placeholder {
    font-size: 14px;
  }
  .Search .SearchButton {
    font-size: 16px;
    width: 20%;
    padding: 4px 10px;
  }
  .Search div.SuggestedWords {
    font-size: 12px;
  }
  /* Search Results */
  .SearchResults section {
    margin: 5px;
    padding: 0.5%;
  }
  .SearchResults .SearchedWord {
    font-size: 30px;
  }
  div.Phonetics {
    font-size: 25px;
  }
  /* Meanings */
  .Meanings .PartOfSpeech,
  .Meanings .Definition,
  .Meanings .Synonyms,
  .Meanings p.ExampleSentence {
    font-size: 16px;
  }
  /* Images */
  .ImageGrid {
    padding: 1% 3%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px 10px;
    margin: 5px 5px 25px 5px;
  }
  /* Footer */
  footer {
    font-size: 12px;
    margin: 40px 8px;
  }
}
