.App {
  text-align: center;
  font-family: "SUSE", sans-serif;
}
.App .container {
  background-color: rgb(255, 250, 245);
  border: 2px solid rgb(209, 160, 199);
  border-radius: 8px;
  margin: 45px auto;
  padding: 15px;
  max-width: 55%;
}
.App h1 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 35px;
}
