.ImageGrid {
  padding: 1% 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px 15px;
  margin: 5px 10px 25px 10px;
}

.Image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.Image img:hover {
  transform: scale(1.7);
}
