.Search input::placeholder {
  font-size: 15px;
}

.Search .SearchInput {
  padding: 6px;
  margin: 5px 10px;
  border: 1px solid hotpink;
  border-radius: 3px;
}
.Search .SearchInput:hover {
  background-color: rgb(216, 215, 214);
  transition: all 200ms ease-out;
}
.Search .SearchButton {
  background-color: pink;
  padding: 6px 10px;
  margin: 5px 10px;
  border: 1px solid hotpink;
  border-radius: 3px;
}

.Search .SearchButton:hover {
  background-color: rgb(237, 158, 171);
  transition: all 200ms ease-out;
}
