.SearchResults {
  text-align: left;
}
.container-inner {
  padding: 3% 8%;
  margin: 15px auto;
  max-width: 100%;
}
.SearchResults .SearchedWord {
  font-size: 40px;
  font-weight: bold;
  margin: 5px;
}
div.Phonetics {
  font-size: 30px;
}
