.container-inner {
  padding: 3% 0.5%;
  margin: 15px auto;
  max-width: 90%;
}
.SearchResults {
  text-align: left;
}
.SearchResults section {
  margin: 10px;
  padding: 3%;
  border-top: 1px solid rgb(0, 0, 0, 0.15);
  border-radius: 6px;
  box-shadow: 3px 5px 11px 1px rgb(0, 0, 0, 0.12);
}
.SearchResults .SearchedWord {
  font-size: 40px;
  font-weight: bold;
  margin: 5px;
}
div.Phonetics {
  font-size: 30px;
}
