.Search input::placeholder {
  font-size: 15px;
}
.Search .SearchInput {
  padding: 6px;
  width: 50%;
  margin: 5px 10px;
  border: 1px solid hotpink;
  border-radius: 3px;
}
.Search .SearchInput:hover {
  background-color: rgb(241, 234, 226);
  transition: all 200ms ease-out;
}
.Search .SearchButton {
  background-color: pink;
  width: 20%;
  padding: 6px 10px;
  margin: 5px 10px;
  border: 1px solid hotpink;
  border-radius: 3px;
}
.Search .SearchButton:hover {
  background-color: rgb(237, 158, 171);
  transition: all 200ms ease-out;
}
.Search div.SuggestedWords {
  font-size: 15px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
.Search .homeImage img {
  height: 250px;
  width: 190px;
  margin: 80px auto;
}
.Search .ImageGrid {
  padding: 1% 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px 15px;
  margin: 5px 10px 25px 10px;
}
